{% extends "m_app1s/base.html" %}


{% block page_header %}
        <h3>Impressum</h3>
{% endblock page_header %}
{% block content %}

<TABLE>
<TR align="left" valign="center" style="background-color:#F6F5F7">
    <TD WIDTH="400" HEIGHT="10" valign=top><h5><br>&emsp;&nbsp;Seitenbetreiber:</h5></TD><TD WIDTH="300"><h5><br>B.&nbsp;Eng.&nbsp;&nbsp;Eugen Eiteneier</h5></TD>
</TR>
<TR align="left" valign="center" style="background-color:#F6F5F7">
    <TD WIDTH="400" HEIGHT="10" valign=top><h5>&emsp;&nbsp;Anschrift:</h5></TD><TD><h5>Eugen Eiteneier<br>Torfbruchstr. 87<br>40625 Düsseldorf<br>Deutschland</h5></TD>
</TR>
<TR align="left" valign="center" style="background-color:#F6F5F7">
    <TD WIDTH="400" HEIGHT="10" valign=top><h5>&emsp;&nbsp;Kontaktdaten:</h5></TD><TD><h5>eugen.eiteneier@gmx.de</h5></TD>
</TR>
</TABLE>

{% endblock content %}