{% extends "m_app1s/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Zufallszahl-Muster App</h3>
{% endblock page_header %}

{% block content %}


<TABLE>
<TR>

    <TD WIDTH="400" HEIGHT="10">
        <h5><a href="https://matplotlib.org/stable/gallery/color/named_colors.html#sphx-glr-gallery-color-named-colors-py"> Farben-Referenz matplotlib</a></h5>
    </TD>
    <TD WIDTH="400" HEIGHT="10">
       <h5><a href="https://matplotlib.org/stable/gallery/color/colormap_reference.html#sphx-glr-gallery-color-colormap-reference-py"> Farbverläufe-Referenz matplotlib</a></h5>
    </TD>
</TR>
</TABLE>

<h5><p>Auswahl der Parameter:</p></h5>
    <form method="post" action="{% url 'rw_visual:new_rw_visual' 1 %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button name="submit" class="btn btn-primary">Eingeben</button>
      {% endbuttons %}

      <input type="hidden" name="next" value="{% url 'rw_visual:rw_visual_i' 1 %}" />
    </form>

{% endblock content %}
